@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{13:20 04/11/2022
    background-color: black;
    width: 202vh;
    height: 100vh;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    /*A POSITION RELATIVE É SEMPRE A DE BAIXO O FUNDO A IMAGEM DO FUNDO*/
    position: relative;
    height: 100vh;
}

section#telefone{
    /* A POSITION ABSOLUTE É A QUE ESTA EM CIMA EM CIMA EM CIMA*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background:url('../imagens/frame-iphone.png') no-repeat;

}